<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar eventos pelo tema" aria-label="Recipient's username" aria-describedby="button-addon2"
      [(ngModel)]="filtroLista">
      <button class="btn btn-outline-success" type="button" id="button-addon2">Buscar</button>
    </div>
    <h3>Filtro: {{filtroLista}}</h3>
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="mostrarImg()">{{mostraImagem ? 'Ocultar': 'Exibir'}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventosFiltrado.length">
    <tr *ngFor="let evento of eventosFiltrado">
      <td>
        <img [collapse]="!mostraImagem" [isAnimated]="true"
        src="assets/{{evento.imagemUrl}}"
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.data}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrado.length">
    <tr>
      <td class="text-center" colspan="8">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

