<h2>Eventos</h2>
<hr>
<div class="form-inline">

  <div class="col-md-6">
    <h5 class="">Filtro: </h5>
    <div class="form-group mb-2">
      <input
      type="text"
      class="form-control"
      placeholder="Buscar eventos"
      [(ngModel)]="filtroLista">
    </div>
  </div>

</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="mostrarImg()">{{mostraImagem ? 'Ocultar': 'Exibir'}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventosFiltrado.length">
    <tr *ngFor="let evento of eventosFiltrado">
      <td>
        <img [collapse]="!mostraImagem" [isAnimated]="true"
        src="assets/{{evento.imagemUrl}}"
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary me-md-2" type="button">Editar</button>
          <button class="btn btn-danger" type="button">Excluir</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrado.length">
    <tr>
      <td class="text-center" colspan="8">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
{{ eventos | json}}

